@mixin menu-styling-regular() {
	background: $white;
	.action-nav, .web-menu { 
		float: right;
		ul {
				list-style: none;
				float: right;
				margin: 0;
		}
		li {
			display: inline-block;
			padding: 0 15px;
			line-height: 100px;
		}
		a {
			color: $dark-gray;

			&:hover {
				color: rgba($dark-gray, .75);
			}
			line-height: 100px;	
			font-size: 18px;
			padding: 0;				
		}
		.button {
			color: $white;
			line-height: 1;
			margin-top: -2px;
			padding: 13px 28px;
			&:hover {
				color: $white;
			}
		}
		.current-page-parent, .current-menu-item, .current-page-ancestor {
			&:not(.menu-item-type-custom) {
				> a {
					border-bottom: 2px solid $dark-gray;
					padding-bottom: 2px;
				}
			}
			
		}

		.mobile-nav-toggle{
			span {
				background-color: lighten($dark-gray, 10);
			}

			&:hover {
				span {
					background-color: $dark-gray;
				}
			}	
		}	
	}
	
	.menu-logo {
		$logo-height: 50px;
		margin: 0;
		padding: 0;
		.logo, .logo-light {
			display: block;
			text-indent: -9999px;
			height: $logo-height;

			margin-top: rem-calc(($site-header-height - $logo-height)/2);
			width: 100%;
			background-image: url(../images/logo.png);
			background-size: contain;
			background-repeat: no-repeat;
		}

		.logo {
			.mobile-nav-open & {
				display: none;
			}
		}

		.logo-light {
			display: none;
			.mobile-nav-open & {
				display: block;
			}
		}
	}

	.menu-item-has-children {
		> a:after{
			content: "";
			padding-left: 10px;
			font-family: FontAwesome;
		}

		position: relative;

		.sub-menu {
			z-index: 100;
			background-color: $white;
			display: none;
			position: absolute;
			margin-top: -25px;
			left: 0px;
			width: 100%;
			padding: 20px 20px;
			box-shadow: 0 0 10px rgba(145, 145, 145, 0.5);
			border-radius: 10px;


			&:before {
				$size: 7px;
				content: '';
				width: 0; 
				height: 0; 
				border-left: $size solid transparent;
				border-right: $size solid transparent;
				border-bottom: $size solid $white;
				position: absolute;
				top: -$size;
				left: 30px;
			}

			ul {
				list-style: none;
			}
			li {
				display: block;
				padding: 0;
				line-height: 40px;

				a {
					line-height: 40px;
				}
			}
		}
	}	
}

@mixin menu-styling-dark-bg() {
	position: absolute;
	z-index: 100;
	background-color: transparent;
	right: 0px;
	left: 0px;
	border: none;
	.menu-logo {
		a {
			background-image: url(../images/logo-white.png);
		}
	}
	a {
		color: darken($white, 5);

		&:hover{
			color: $white;
			text-decoration: none;
		}
	}
	.action-nav, .web-menu {
		a {
			color: rgba($white, .85);

			&:hover {
				color: $white;
			}
		}
		.button {
			background-color: transparent;
			border: 1px solid $white;
			line-height: 1;
			padding: 13px 28px;

			&:hover {
				background-color: $white;
				color: #76889f;
			}
		}
		.mobile-nav-toggle span, .mobile-nav-toggle:hover span {
			// background-color: rgba($white, 0.75);
			background-color: $white;
			// opacity: .75;
		}		
	}
	.menu-item-has-children .sub-menu a {
		color: $dark-gray;

		&:hover {
			color: rgba($dark-gray, .75);
		}
	}
	
	.current-page-parent, .current_page_item {
			a {
				border-bottom: 2px solid $white;
				padding-bottom: 2px;
			}
		}

	body &.sticky {
		@include menu-styling-regular;
	}
}

@mixin admin-bar-fixed {
	.admin-bar & {
		margin-top: 32px !important;

		@media screen and ( max-width: 782px ) {
			margin-top: 46px !important;
		}
	}
}

body {
	padding-top: 100px;
	word-wrap: break-word;
}

