p {
	&:last-child {
		margin-bottom: 0px;
	}
}

h2:not(.no-underline) {
	padding-bottom: 80px;
	position: relative;
	&:after {
		content: '';
		width: 50px;
		height: 2px;
		background: $primary-color;
		position: absolute;
		bottom: 40px;
		left: 50%;
		margin-left: -25px;
	}
}