// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//Page layout
$section-header-padding: 100px;
$section-padding: 40px;

// Colors
$brand-primary:         #00A964;  
$light-gray: 			      #f2f2f2;
$medium-gray:           #cacaca;
$dark-gray:				      #4a4a4a;	
$light-blue:			      #7192b5;	
$dark-blue:				      #5e7592;
$clear-blue:            #4a90e2;
$white:                 #fefefe;

$mobile-nav-bg: $brand-primary;

$body-background: #F0F0F0;

$foundation-palette: (
  primary: $brand-primary,
  secondary: #777,
  success: #00A964,
  warning: #ffae00,
  alert: #ec5840,
  clearblue: $clear-blue, 
) !default;

// Buttons
$button-padding: 13px 28px;
$button-margin: 0;
$button-radius: 5px;
$button-color: $white;

// Modals
$reveal-background: $brand-primary;

// Forms
$input-radius: 7px;
$input-font-size: rem-calc(12);
$input-shadow: none;
$form-label-color: $dark-gray;
$input-placeholder-color: $dark-gray;
$input-border-focus: 1px solid $medium-gray;
$select-radius: 7px;

// Text
$body-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$global-weight-normal: 300;
$body-font-color: #4a4a4a;
$header-font-weight: normal;
$global-font-size: 110% !default;

$header-font-family: 'Vollkorn', serif;


// Layout
$padding: 20px;
$margin: $padding;

$site-header-height: 100px;

// Header Sizes
$header-sizes: (
  small: (
    'h1': 40,
    'h2': 35,
    'h3': 30,
    'h4': 25,
    'h5': 20,
    'h6': 16,
  ),
  medium: (
    'h1': 48,
    'h2': 40,
    'h3': 35,
    'h4': 25,
    'h5': 20,
    'h6': 16,
  ),
);
