.bio-content {
		background-color: $light-gray;
		padding: 40px 0;
		margin-top: 40px;

		.avatar {
			float: left;
			position: relative;
			height: 170px;
			width: 170px;
			border-radius: 100px;
		}

		.bio-text {

			p {
				margin: 0;
			}

			h4 {
				font-weight: 700;
			}

			margin: 0;
			margin-left: -60px;
			padding: 40px 15px 20px 15px;
			text-align: center;
			background-color: $light-gray;
		}

	@include breakpoint (medium) {
			background-color: transparent;
			padding: 0;
			margin: 50px 30px 0 30px;

		.bio-image {
			position: absolute;
			height: 170px;
			width: 170px;
		}

		.bio-text {
			background-color: $light-gray;
			min-height: 170px;
			padding: 15px 20px 20px 105px;
			margin-bottom: 70px;	
			margin-left: 85px;
			text-align: left;
		}

		h4 {
				font-size: 20px;
		}
	}

	@include breakpoint (large) {
		margin: 50px 15px 0 15px;
	}
}