.page-banner {
	height: 400px;
	background-size: cover;
	background-position: bottom center;
	position: relative;

	&.transparent-header {
		margin-top: -100px;
	}

	&.with-divider-img {
		margin-bottom: $padding*3;
	}
	
	.banner-content{
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 1;
	}

	h1 {
		color: $white;
	}

	.shader {
		position: absolute;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
		background: rgba(0,0,0,0.3);
		z-index: 0;
	}

	.divider-image {
		max-height: 300px;
		width: auto;
		position: absolute;
		bottom: -150px;
		left: 50%;
		transform: translate(-50%, 0)	
	}
}