.mobile-nav-toggle {
  $height: 20px;
  width: 30px;
  height: $height;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
  }
  span:nth-child(2), span:nth-child(3) {
    top: $height/2;
  }

  span:nth-child(4) {
    top: $height;
  }

  .mobile-nav-open & span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .mobile-nav-open & span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .mobile-nav-open & span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .mobile-nav-open & span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

}

#mobile-nav {
  position: fixed;
  overflow: auto;
  display: none;
  background: $mobile-nav-bg;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 100px+$padding*4 0;

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: rgba($white, .9);
    line-height: 2em;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    display: block;

    &:hover {
      color: $white;
    }
  }

  .mobile-nav-open & {
    display: block;
  }

  .sub-menu {
    li {
      text-indent: 30px;
    }
    h3 { 
      font-size: 23px;
    }

    @include breakpoint(medium) {
      li {
        text-indent: 40px;
        }
      h3 {
        font-size: rem-calc(28px);      
      }
    }
  }
}

.mobile-nav-open {
  overflow: hidden;

  &.admin-bar {
    .site-header {
      margin-top: 32px !important;

      @media screen and ( max-width: 782px ) {
        margin-top: 46px !important;
      }
    }
  }

  .site-header {
    @include menu-styling-dark-bg();
    position: fixed;
    top: 0px;
    z-index: 1000;
  }
}