.site-footer {
	color: $white;
	a {
		color: rgba($white, .85);

		&:hover {
			color: $white;
		}
	}

	.banner {
		background-color: $dark-gray;
		padding: 15px 0 20px 0;
		.banner-text {
			font-size: 18px;
			font-weight: 700;
			margin: 0;
			margin-bottom: 15px;
		}
	}

	.social {
		.fa {
			font-size: 40px;
			margin-right: 5px;
			display: inline-block;

		}
	}

	.footer-content {
		background-color: $light-blue;
		color: $white;
		padding: 40px 0;

		h3 {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 20px;
		}

		p {
			font-size: 15px;
			line-height: 1.6;
		}
		
		ul {
			margin: 0;
			padding: 0;
		}

		li {
			display: block;
			list-style: none;
			margin: 0px;
			padding: 0px;
			a {
				display: block;
				line-height: 1.6;
				padding: 0;
			}
		}
		.all-news {
			font-size: 17px;
			padding-top: 5px;
			margin: 0;
		}
	}

	.bottom-ribbon {
		background-color: $dark-blue;
		padding-top: 20px;

		a.bottom-ribbon-logo {
			display: block;
			text-indent: -9999px;
			height: 50px;
			width: 200px;
			background-image: url(../images/logo-white.png);
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	@include breakpoint(medium) {

		.banner {	
			height: 100px;
			padding-top: 25px;
			padding-bottom: 0;
			.banner-text {
				display: inline;
				font-size: 25px;
				margin-right: 15px;
			}
		}

		.footer-content {
			padding: 40px 0;

			.columns {
				padding-right: 50px;
			}
		}

		.bottom-ribbon {
			height: 100px;
			padding-top: 30px;
			a {
				height: 60px;
				width: 240px;
			}
			p {
				padding-top: 8px;
			}
		}
	}
}

