.site-header {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	height: 100px;
	z-index:100;
	@include admin-bar-fixed();

	@include menu-styling-regular;

	&:not(.sticky).dark-bg {
		@include menu-styling-dark-bg;
	}

	body &.sticky {
		position: fixed;
		animation-name: roll-down;
    	animation-duration: 0.4s;
    	margin-top:-100px;
	}
	
	@keyframes roll-down {
		0% {
    		margin-top:-100px;
		}
		100% {
		}
	}

	body:not(.mobile-nav-open) &.sticky {
		background-color: rgba($white, .95);
	}

	@include breakpoint(large) {
		.web-menu {
			.mobile-nav-open & .menu-item {
				display: none;
			}
		}
	}
}