.page-content {
	margin-top: 5 * $margin;

	.bio-content {
		background-color: $light-gray;
		padding: 40px 0;
		margin-top: 40px;

		.bio-image {
			background-image: url(../images/bio.png);
			background-size: contain;
			position: relative;
			height: 150px;
			width: 150px;
			border-radius: 100px;
		}

		.bio-text {

			p {
				margin: 0;
			}

			h4 {
				font-weight: 700;
			}

			margin: 0;
			padding: 40px 15px 20px 15px;
			text-align: center;
			background-color: $light-gray;
		}

		@include breakpoint (medium) {
				background-color: transparent;
				padding: 0;
				margin-top: 50px;

			.bio-image {
				position: absolute;
				height: 170px;
				width: 170px;
			}

			.bio-text {
				background-color: $light-gray;
				min-height: 170px;
				padding: 15px 20px 20px 105px;
				margin-bottom: 70px;	
				margin-left: 85px;
				text-align: left;
			}

			h4 {
					font-size: 20px;
			}
		}
	}
}

@media screen and (min-width: 40em) {

	.page-content {
		margin-bottom: 5 * $margin;
	
	}
}