.sidebar-section {
	margin: 5*$padding 0;
	.sidebar-content {
		background-color: $light-gray;
		margin: 0 15px;
		a {
			color: $dark-gray;

			&:hover {
				color: rgba($dark-gray, .75);
			}
		}
	}
	ul {
		list-style: none;
		margin: 0;
		line-height: 2.4;
	}
	ul.sub-item {
			margin-left: 40px;
	}

	.mobile-sidebar-toggle {
		padding: 20px 25px;
		font-weight: 700;
		position: relative;
		&:hover {
			cursor: pointer;
		}
		a {
			font-size: 18px;
		}
	}
	.mobile-sidebar {
		display: none;
		position: absolute; 
		border-top: 1px solid $medium-gray;
		width: 100%;
		background-color: $light-gray;
		top: 67px;
		left: 0;
		ul {
			padding: 15px 25px;
			line-height: 50px;
		} 
	}
	.fa {
		float: right;	
		margin-top: -8px;
	}
	.main-wrap {
		.main-content {
			margin-top: 40px;
			padding: 0 15px;
		}
	}

	@include breakpoint(large) {
		margin-top: 7*$padding;
		.sidebar-content {
			padding: 30px 20px;
			margin: 0 30px;
		}
		.current_page_item {
			font-weight: 700;
		}
		.main-wrap {
			margin: 0 
		}
		.main-wrap {
			.main-content {
				margin-top: -15px;
			}
		}
	}
}