.page-template-start {
	.banner {
		padding: $padding*4 0;
		background-image: url(../images/banner-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		color: $white;

		.video {
			border: 10px solid $white;
		}

		.banner-text {
			padding-top: 50px;
		}
	}

	.register-interest{
		padding: $padding*2 0;
		background: $white;
		box-shadow: 0px 0px 30px rgba(0,0,0, .3);

		form {
			padding-top: $padding*2; 
		}
	}

	.appartments {
		padding-top: 100px;
	}

	.appartment-types {
		margin-top: $padding*5;
	}

	.appartment {
		background: #3F3F3F;
		color: $white;
		position: relative;
		// border-bottom: 1px solid darken($white,70);
		z-index: 1;

		h4 {
			font-family: $body-font-family;
			font-weight: 300;
		}

		.image-container {
			height: 400px;
			width: 100%;
			background-size: cover;
			@include breakpoint(large) {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 47%;
				height: 100%;
			}

		}

		.description {
			padding: $padding*4 0;
		}	

		.images {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
			}

			img {
				margin-right: 10px;
				margin-bottom: 10px;
				height: 100px;
				width: auto;
				border: 3px solid $white;
			}
		}
	}

	.appartment:nth-child(2n) {

		box-shadow: 0px 0px 30px rgba(0,0,0, 0.5);
		z-index: 2;

		.image-container {
			@include breakpoint(large) {
				position: absolute;
				top: 0px;
				left: auto;
				right: 0px;
				width: 47%;
				height: 100%;
				background-size: cover;
			}
		}
	}

	.the-project,.example-project, .about, .contact {
		margin-top: -50px;
		padding-top: 130px;
		@include breakpoint(large) {
			.two-columns {
	    		column-count: 2;
	    		column-gap: 30px;
	    		column-fill: auto;
	    		column-align: top;
			}
		}
	}

	.partners {
		padding-top: $padding*4;
		padding-bottom: $padding*2;
		text-align: center;

		.partner-logo {
			height: 25px;
			width: auto;
			padding: 0 $padding; 
			margin: $padding 0;

			@include breakpoint(large) {
				height: 40px;
				padding: 0 $padding*2; 
			}
		}
	}
}